@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}
@media (min-width: 2860px) {
  body {
    font-size: 150%;
  }
}
@media (min-width: 1900px) {
  body {
    font-size: 100%;
  }
}
body::-webkit-scrollbar {
  width: 1rem;
  border-radius: 0.5rem;
}
body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
}

p,
article {
  word-break: break-word;
  hyphens: auto;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 400;
  color: #4a5568;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.page-headings {
  font-size: 8.9rem;
  color: #2d3748;
  line-height: 1.25;
  font-weight: 900;
  letter-spacing: 1px;
}
@media (max-width: 680px) {
  .page-headings {
    font-size: 5rem;
  }
}

.small-heading {
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: #3C7334;
  text-transform: uppercase;
}

.section-heading {
  font-size: 3.7rem;
  color: #2d3748;
}

.scale-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.mb-8 {
  margin-bottom: 0.8rem !important;
}

.mb-16 {
  margin-bottom: 1.6rem !important;
}

.mb-24 {
  margin-bottom: 2.4rem !important;
}

.mb-32 {
  margin-bottom: 3.2rem !important;
}

.mb-40 {
  margin-bottom: 4rem !important;
}

.mb-48 {
  margin-bottom: 4.8rem !important;
}

.navbar {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.6rem 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2d3748;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  z-index: 100;
  background-color: #fff;
}
.navbar .logo {
  font-weight: 700;
  font-size: 2.5rem;
}
.navbar .mobile-menu {
  display: none;
  transform: translateX(-100vw);
  transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}
@media (max-width: 680px) {
  .navbar .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1C100D;
    color: #f7fafc;
    font-family: "Montserrat", sans-serif;
    font-size: 5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: lowercase;
  }
}
.navbar .mobile-menu.open {
  transform: translateX(0);
}
.navbar .desktop-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  font-weight: 600;
  color: #400904;
}
@media (max-width: 900px) {
  .navbar .desktop-menu {
    width: 70%;
  }
}
@media (max-width: 680px) {
  .navbar .desktop-menu {
    display: none;
  }
}
.navbar .hamburger-menuBtn {
  display: none;
}
@media (max-width: 680px) {
  .navbar .hamburger-menuBtn {
    display: flex;
    position: relative;
    z-index: 100;
    width: 4.8rem;
    height: 4.8rem;
    flex-direction: column;
    padding: 0.8rem 0;
    justify-content: space-around;
    overflow: hidden;
  }
  .navbar .hamburger-menuBtn span {
    background-color: #3C7334;
    width: 100%;
    height: 3px;
    display: block;
    transition: transform 300ms ease;
  }
}

.hamburger-menuBtn.active {
  justify-content: center;
  align-items: center;
}
.hamburger-menuBtn.active span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
}
.hamburger-menuBtn.active span.line-1 {
  transform: translate(-50%, -50%) rotate(45deg);
}
.hamburger-menuBtn.active span.line-2 {
  transform: translate(150%, -50%) rotate(0);
}
.hamburger-menuBtn.active span.line-3 {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.footer {
  width: 100vw;
  background-color: #1C100D;
  padding: 5vw;
  color: #f7fafc;
}
@media (max-width: 900px) {
  .footer {
    padding: 10vw 5vw;
  }
}

.footerLinks-socialLinks a {
  padding: 0.8rem;
}

.twoCol {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 900px) {
  .twoCol {
    flex-direction: column;
  }
}
.twoCol > * {
  width: calc(50% - 2.4rem);
}
@media (max-width: 900px) {
  .twoCol > * {
    width: 100%;
  }
}

.threeCol {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 900px) {
  .threeCol {
    flex-direction: column;
  }
}
.threeCol > * {
  width: calc(30% - 2.4rem);
}
@media (max-width: 900px) {
  .threeCol > * {
    width: 100%;
  }
}

.hero {
  width: 100vw;
  padding: 5vw;
  position: relative;
}
@media (max-width: 900px) {
  .hero {
    padding-top: 7.5rem;
  }
}

.heroContent {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 5vw;
  transform: translateY(-50%);
  z-index: 50;
}
@media (max-width: 900px) {
  .heroContent {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    margin-bottom: 3.2rem;
  }
}
.heroContent-subtitle {
  font-family: 1.5rem;
  color: #4a5568;
  width: 60%;
}
@media (max-width: 900px) {
  .heroContent-subtitle {
    width: 100%;
  }
}

.hero-images {
  width: 70%;
  height: 80vh;
  position: relative;
  margin-left: auto;
  overflow: hidden;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
@media (max-width: 900px) {
  .hero-images {
    width: 100%;
    height: 40rem;
  }
}
@media (max-width: 680px) {
  .hero-images {
    width: 100%;
    height: 30rem;
  }
}
.hero-images-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}
.hero-images-slide img {
  width: 100%;
  height: 100%;
}

.hero-images-slide {
  transform: translateY(100%);
  transition: 0.6s cubic-bezier(0.65, 0, 0.35, 1) 300ms;
  z-index: -10;
  backface-visibility: hidden;
}

.hero-images-slide.activeImage {
  transform: translateY(0);
  z-index: 10;
}

.hero-images-slide.wasActiveImage {
  transform: translateY(-100%);
}

.homepageTagline {
  width: 100vw;
  padding: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 900px) {
  .homepageTagline {
    padding: 10vw 5vw;
  }
}
@media (max-width: 680px) {
  .homepageTagline {
    flex-direction: column;
  }
}
.homepageTagline-images {
  width: 20%;
}
@media (max-width: 680px) {
  .homepageTagline-images {
    width: 100%;
    display: none;
  }
}
.homepageTagline-sentence {
  align-self: center;
  width: 45%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #400904;
}
@media (max-width: 680px) {
  .homepageTagline-sentence {
    width: 100%;
    margin: 5vw 0;
  }
}

.homepageAbout {
  width: 100vw;
  padding: 5vw;
}
.homepageAbout-desc {
  padding: 5vw;
  padding-left: 0;
}
.homepageAbout-image {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.homepageAbout-image::before {
  content: "";
  position: absolute;
  bottom: -10vw;
  left: 5vw;
  width: 70%;
  height: 70%;
  background-color: #D9CAAD;
  z-index: 5;
  border-radius: 0.25rem;
  overflow: hidden;
}
@media (max-width: 900px) {
  .homepageAbout-image::before {
    display: none;
  }
}
.homepageAbout-image img {
  width: 35rem;
  z-index: 10;
  border: 1.5rem solid white;
  border-radius: 0.25rem;
  overflow: hidden;
}
@media (max-width: 900px) {
  .homepageAbout-image img {
    width: 100%;
    border: none;
  }
}

.homepage-whyUs {
  width: 100vw;
  padding: 5vw;
  position: relative;
}
@media (max-width: 900px) {
  .homepage-whyUs {
    flex-direction: column-reverse;
  }
}
.homepage-whyUs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 100%;
  background-color: #D9CAAD;
  z-index: -5;
}
.homepage-whyUs-desc {
  padding: 5vw;
  padding-right: 5vw;
}
@media (max-width: 900px) {
  .homepage-whyUs-desc {
    padding: 5vw 0;
  }
}
.homepage-whyUs-image {
  display: flex;
  align-self: center;
  border-radius: 0.25rem;
  overflow: hidden;
}
.homepage-whyUs-image img {
  width: 100%;
  z-index: 10;
  border: 1.5rem solid white;
  border-radius: 0.25rem;
  overflow: hidden;
}

.homepageProduct {
  width: 100vw;
  padding: 5vw;
}
@media (max-width: 900px) {
  .homepageProduct {
    padding: 10vw 5vw;
  }
}

.homepageProduct-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 27rem 27rem 27rem;
  gap: 2.4rem;
  grid-template-areas: "homepageProduct-grid--item1 homepageProduct-grid--item1 homepageProduct-grid--item2 homepageProduct-grid--item2" "homepageProduct-grid--item1 homepageProduct-grid--item1 homepageProduct-grid--item3 homepageProduct-grid--item3" "homepageProduct-grid--item4 homepageProduct-grid--item4 homepageProduct-grid--item5 homepageProduct-grid--item5";
}
@media (max-width: 900px) {
  .homepageProduct-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "homepageProduct-grid--item1" "homepageProduct-grid--item2" "homepageProduct-grid--item3" "homepageProduct-grid--item5" "homepageProduct-grid--item4";
  }
}

.homepageProduct-grid--item1 {
  grid-area: homepageProduct-grid--item1;
  position: relative;
}
.homepageProduct-grid--item1 img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.homepageProduct-grid--item1 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  padding: 2.4rem;
  color: white;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.homepageProduct-grid--item2 {
  grid-area: homepageProduct-grid--item2;
}
.homepageProduct-grid--item2 div {
  align-self: center;
}
.homepageProduct-grid--item2 h2 {
  align-self: center;
  text-align: center;
}

.homepageProduct-grid--item3 {
  grid-area: homepageProduct-grid--item3;
}
.homepageProduct-grid--item3 div {
  align-self: center;
}
.homepageProduct-grid--item3 h2 {
  align-self: center;
  text-align: center;
}

.homepageProduct-grid--item4 {
  grid-area: homepageProduct-grid--item4;
}
.homepageProduct-grid--item4 div {
  align-self: center;
}
.homepageProduct-grid--item4 h2 {
  align-self: center;
  text-align: center;
}

.homepageProduct-grid--item5 {
  grid-area: homepageProduct-grid--item5;
  position: relative;
}
.homepageProduct-grid--item5 img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.homepageProduct-grid--item5 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  padding: 2.4rem;
  color: white;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.homepageProduct-grid--item {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 0.25rem;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
@media (max-width: 900px) {
  .homepageProduct-grid--item {
    min-height: 30rem;
  }
}
@media (max-width: 680px) {
  .homepageProduct-grid--item {
    padding: 5vw;
  }
}

.homepageContact {
  width: 100vw;
}
.homepageContact-image {
  position: relative;
}
.homepageContact-image h2 {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #1C100D;
  text-align: center;
  padding: 2.4rem;
  background-color: #85c47c;
}
@media (max-width: 680px) {
  .homepageContact-image h2 {
    font-size: 1.5rem;
    width: 80%;
  }
}
.homepageContact-content {
  padding: 5vw;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 680px) {
  .homepageContact-content {
    flex-direction: column;
  }
}
.homepageContact-content p {
  width: 70%;
}
@media (max-width: 680px) {
  .homepageContact-content p {
    width: 100%;
    margin-bottom: 2.4rem;
  }
}
.homepageContact-content a {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 680px) {
  .homepageContact-content a {
    width: 100%;
  }
}

.aboutPage-hero {
  width: 100vw;
  padding: 5vw;
  position: relative;
}
@media (max-width: 680px) {
  .aboutPage-hero {
    padding: 7.5rem 5vw;
    padding-bottom: 5vw;
  }
}
.aboutPage-hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: #3C7334;
  z-index: 5;
}
@media (max-width: 680px) {
  .aboutPage-hero::after {
    height: 50%;
  }
}
.aboutPage-hero-title {
  padding: 5vw 0;
  position: relative;
  z-index: 10;
  color: #fff;
}
.aboutPage-hero-title h1 {
  color: #fff;
}
.aboutPage-hero-image {
  position: relative;
  z-index: 10;
  width: 70%;
  margin-left: auto;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
@media (max-width: 680px) {
  .aboutPage-hero-image {
    width: 100%;
    margin-bottom: 2.4rem;
  }
}
.aboutPage-hero-content {
  padding-top: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 680px) {
  .aboutPage-hero-content {
    flex-direction: column;
  }
}
.aboutPage-hero-content h2 {
  width: 30%;
}
@media (max-width: 680px) {
  .aboutPage-hero-content h2 {
    width: 100%;
    margin-bottom: 1.6rem;
  }
}
.aboutPage-hero-content p {
  width: 70%;
}
@media (max-width: 680px) {
  .aboutPage-hero-content p {
    width: 100%;
  }
}

.missionVision {
  width: 100vw;
  padding: 5vw;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .missionVision {
    flex-direction: column;
  }
}
.missionVision-image {
  width: calc(70% - 5vw);
  height: 100%;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
@media (max-width: 900px) {
  .missionVision-image {
    width: 100%;
    margin-bottom: 2.4rem;
  }
}
.missionVision-content {
  width: 30%;
}
@media (max-width: 900px) {
  .missionVision-content {
    width: 100%;
  }
}
.missionVision-content .mission {
  margin-bottom: 5vw;
}
.missionVision-content .mission h3 {
  color: #3C7334;
}
.missionVision-content .vision h3 {
  color: #3C7334;
}

.usp {
  width: 100vw;
  padding: 5vw;
}

.usp-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5vw;
  grid-template-areas: "area-1 area-2 area-5" "area-3 area-4 area-5";
}
@media (max-width: 900px) {
  .usp-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
    grid-template-areas: "area-1" "area-2" "area-3" "area-4" "area-5";
  }
}

.usp-area-1 {
  grid-area: area-1;
}

.usp-area-2 {
  grid-area: area-2;
}

.usp-area-3 {
  grid-area: area-3;
}

.usp-area-4 {
  grid-area: area-4;
}

.usp-area-5 {
  grid-area: area-5;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
@media (max-width: 900px) {
  .usp-area-5 {
    display: none;
  }
}

.ourResponsibility {
  width: 100vw;
  padding: 5vw;
}
.ourResponsibility-image {
  margin-bottom: 5vw;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
@media (max-width: 900px) {
  .ourResponsibility-content-social {
    margin-bottom: 2.4rem;
  }
}

.contactPage-form {
  width: 100vw;
  padding: 5vw;
  display: flex;
  background-color: #D9CAAD;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 680px) {
  .contactPage-form {
    flex-direction: column;
  }
}
.contactPage-form-image {
  width: 35%;
}
@media (max-width: 680px) {
  .contactPage-form-image {
    width: 100%;
    padding-top: 7.5rem;
    padding-bottom: 5vw;
  }
}
.contactPage-form-content {
  width: 55%;
  padding: 5vw;
  background-color: #f7fafc;
  border-radius: 0.25rem;
}
@media (max-width: 680px) {
  .contactPage-form-content {
    width: 100%;
  }
}

.formField {
  display: block;
  margin-bottom: 1.6rem;
}
.formField input,
.formField textarea {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  margin-top: 0.8rem;
  padding: 0.8rem;
  border: 1px solid #3C7334;
  background-color: transparent;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.formField input:focus,
.formField textarea:focus {
  outline: 1px solid rgba(0, 0, 0, 0.5);
}
.formField textarea {
  height: 20rem;
}

.formSubmitBtn.primaryCtaBtn {
  display: block;
  border: none;
  width: 100%;
  padding: 1.6rem;
}

.productPage-hero {
  width: 100vw;
  padding: 5vw;
  padding-top: 10vw;
}
@media (max-width: 900px) {
  .productPage-hero {
    padding-top: 7.5rem;
  }
}
.productPage-hero-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vw;
}
@media (max-width: 900px) {
  .productPage-hero-content {
    flex-direction: column;
  }
}
.productPage-hero-content h1 {
  width: 40%;
}
@media (max-width: 900px) {
  .productPage-hero-content h1 {
    width: 100%;
    margin-bottom: 2.4rem;
  }
}
.productPage-hero-content p {
  width: calc(60% - 5vw);
}
@media (max-width: 900px) {
  .productPage-hero-content p {
    width: 100%;
  }
}

.productSection {
  width: 100vw;
  padding: 5vw;
}

.singleProduct {
  position: relative;
}
.singleProduct-image {
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.singleProduct-content {
  align-self: center;
  color: #4a5568;
  padding: 5vw;
}
.singleProduct-content::after {
  content: "";
  position: absolute;
  top: -5vw;
  right: 0;
  width: 60%;
  height: calc(100% + 10vw);
  background-color: #D9CAAD;
  z-index: -1;
}
@media (max-width: 900px) {
  .singleProduct-content::after {
    height: 100%;
    top: 0;
  }
}
.singleProduct-content p:not(:last-child) {
  margin-bottom: 2.4rem;
}

.singleProduct:not(:last-child) {
  margin-bottom: 15vw;
}

.primaryCtaBtn {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  background-color: #3C7334;
  color: #f7fafc;
  border-radius: 0.25rem;
  transition: 200ms ease;
}
.primaryCtaBtn:hover {
  background-color: #4e9644;
  transform: translateY(-2px);
}
.primaryCtaBtn:focus {
  transform: translateY(0);
  outline: 1px solid rgba(0, 0, 0, 0.5);
  outline-offset: 2px;
}

.linkPrimary {
  position: relative;
  padding: 0.8rem;
  letter-spacing: 0.25px;
}
.linkPrimary::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #400904;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: 300ms ease;
}
.linkPrimary:hover::after {
  transform: scaleX(1);
}
.linkPrimary:focus {
  outline: 1px solid rgba(0, 0, 0, 0.5);
  outline-offset: 2px;
}

.linkSecondary {
  color: #600d06;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  transition: 200ms ease;
}
.linkSecondary img {
  display: inline-block;
  margin-left: 0.8rem;
  transition: 200ms ease;
}

.linkSecondary:hover {
  letter-spacing: 2.5px;
}
.linkSecondary:hover img {
  transform: translateX(0.8rem);
}

/*# sourceMappingURL=style.css.map */
