.linkPrimary {
    position: relative;
    padding: 0.8rem;
    letter-spacing: 0.25px;

    &::after {
        content: "";
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: $accent-color-400;
        left: 0;
        bottom: 0;
        transform: scaleX(0);
        transition: 300ms ease;

    }

    &:hover::after {
        transform: scaleX(1);
    }

    &:focus {

        outline: 1px solid rgba(0, 0, 0, 0.5);
        outline-offset: 2px;
    }
}

.linkSecondary {
    color: $accent-color-300;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    transition: 200ms ease;

    img {
        display: inline-block;
        margin-left: 0.8rem;
        transition: 200ms ease;
    }


}

.linkSecondary:hover {
    letter-spacing: 2.5px;

    img {
        transform: translateX(0.8rem);
    }
}

.primaryCtaBtn {
    display: inline-block;
    padding: 0.8rem 1.6rem;
    background-color: $green-400;
    color: $grey-100;
    border-radius: $bora-small;
    transition: 200ms ease;


    &:hover {
        background-color: $green-300;
        transform: translateY(-2px);
    }

    &:focus {
        transform: translateY(0);
        outline: 1px solid rgba(0, 0, 0, 0.5);
        outline-offset: 2px;
    }
}