.primaryCtaBtn {
    display: inline-block;
    padding: 0.8rem 1.6rem;
    background-color: $green-300;
    color: $grey-100;
    border-radius: $bora-small;
    transition: 200ms ease;
    text-transform: uppercase;
    letter-spacing: 1.5px;



    &:hover {
        background-color: $green-400;
        transform: translateY(-2px);
    }

    &:focus {
        transform: translateY(0);
        outline: 1px solid rgba(0, 0, 0, 0.5);
        outline-offset: 2px;
    }
}