.footer {
    width: 100vw;
    background-color: $grey-100;
    padding: 5vw;
    color: $grey-800;

    @include breakpoint(tab) {
        padding: 10vw 5vw;
    }
}

.footerLogo {
    width: 100%;

    img {
        width: 100%;
        display: block;

        @include breakpoint(tab) {
            margin: 2.4rem 0;
        }
    }
}

.footerLinks-socialLinks a {
    padding: 0.8rem;
}