.hero {
    width: 100vw;
    padding: 5vw;
    position: relative;

    @include breakpoint(tab) {
        padding-top: 7.5rem;

    }


}

.heroContent {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 5vw;
    transform: translateY(-50%);
    z-index: 50;


    @include breakpoint(tab) {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        margin-bottom: 3.2rem;

    }


    &-subtitle {
        font-family: $base-font;
        color: $grey-700;
        width: 60%;

        @include breakpoint(tab) {
            width: 100%;

        }
    }
}

.hero-images {
    width: 70%;
    height: 80vh;
    position: relative;
    margin-left: auto;
    overflow: hidden;
    border-radius: $bora-small;
    box-shadow: $boxShadow-100;

    // display: flex;
    @include breakpoint(tab) {
        width: 100%;
        height: 40rem;

    }

    @include breakpoint(phone) {
        width: 100%;
        height: 30rem;

    }

    &-slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        //border-radius: $bora10;
        overflow: hidden;





        img {
            width: 100%;
            height: 100%;
            // border-radius: $bora10;


        }
    }
}


.hero-images-slide {
    transform: translateY(100%);
    transition: 0.6s cubic-bezier(0.65, 0, 0.35, 1) 300ms;
    z-index: -10;
    //opacity: 0;
    backface-visibility: hidden;
}

.hero-images-slide.activeImage {
    transform: translateY(0);
    // opacity: 1;
    z-index: 10;
}

.hero-images-slide.wasActiveImage {
    transform: translateY(-100%);
    // opacity: 0;
}

.homepageTagline {
    width: 100vw;
    padding: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include breakpoint(tab) {
        padding: 10vw 5vw;
    }

    @include breakpoint(phone) {
        flex-direction: column;
    }

    &-images {
        width: 20%;

        @include breakpoint(phone) {
            width: 100%;
            display: none;
        }
    }

    &-sentence {
        align-self: center;
        width: 45%;
        text-align: center;
        font-family: $heading-font;
        color: $accent-color-400;

        @include breakpoint(phone) {
            width: 100%;
            margin: 5vw 0;
        }
    }
}

.homepageAbout {
    width: 100vw;
    padding: 5vw;

    &-desc {
        padding: 5vw;
        padding-left: 0;


    }

    &-image {
        position: relative;
        display: flex;
        justify-content: flex-end;



        &::before {
            content: "";
            position: absolute;
            bottom: -10vw;
            left: 5vw;
            width: 70%;
            height: 70%;
            background-color: $grey-300;
            z-index: 5;
            border-radius: $bora-small;
            overflow: hidden;

            @include breakpoint(tab) {
                display: none;
            }

        }

        img {
            width: 35rem;
            z-index: 10;
            border: 1.5rem solid white;
            border-radius: $bora-small;
            overflow: hidden;

            @include breakpoint(tab) {
                width: 100%;
                border: none;

            }
        }
    }

}

.homepage-whyUs {
    width: 100vw;
    padding: 5vw;
    position: relative;

    @include breakpoint(tab) {
        flex-direction: column-reverse;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 35%;
        height: 100%;
        background-color: $grey-300;
        z-index: -5;

    }

    &-desc {
        padding: 5vw;
        padding-right: 5vw;

        @include breakpoint(tab) {
            padding: 5vw 0;

        }
    }

    &-image {
        display: flex;
        align-self: center;
        border-radius: $bora-small;
        overflow: hidden;

        img {
            width: 100%;
            z-index: 10;
            border: 1.5rem solid white;
            border-radius: $bora-small;
            overflow: hidden;
        }
    }
}

.homepageProduct {
    width: 100vw;
    padding: 5vw;

    @include breakpoint(tab) {
        padding: 10vw 5vw;

    }
}

.homepageProduct-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 27rem 27rem 27rem;
    gap: 2.4rem;
    grid-template-areas:
        "homepageProduct-grid--item1 homepageProduct-grid--item1 homepageProduct-grid--item2 homepageProduct-grid--item2"
        "homepageProduct-grid--item1 homepageProduct-grid--item1 homepageProduct-grid--item3 homepageProduct-grid--item3"
        "homepageProduct-grid--item4 homepageProduct-grid--item4 homepageProduct-grid--item5 homepageProduct-grid--item5";

    @include breakpoint(tab) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "homepageProduct-grid--item1"
            "homepageProduct-grid--item2"
            "homepageProduct-grid--item3"
            "homepageProduct-grid--item5"
            "homepageProduct-grid--item4"
        ;

    }
}

.homepageProduct-grid--item1 {
    grid-area: homepageProduct-grid--item1;

    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    h2 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        z-index: 10;
        padding: 2.4rem;
        color: white;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);

        @include breakpoint(tab) {
            justify-content: center;

        }
    }
}

.homepageProduct-grid--item2 {
    grid-area: homepageProduct-grid--item2;

    div {
        align-self: center;
    }

    h2 {
        align-self: center;
        text-align: center;
    }
}

.homepageProduct-grid--item3 {
    grid-area: homepageProduct-grid--item3;

    div {
        align-self: center;
    }

    h2 {
        align-self: center;
        text-align: center;
    }
}

.homepageProduct-grid--item4 {
    grid-area: homepageProduct-grid--item4;
    background-color: $dark-coco;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: $step02;
}

.homepageProduct-grid--item5 {
    grid-area: homepageProduct-grid--item5;
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    h2 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        z-index: 10;
        padding: 2.4rem;
        color: white;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);

        @include breakpoint(tab) {
            justify-content: center;

        }

    }

}

.homepageProduct-grid--item {
    box-shadow: $boxShadow-100;
    border-radius: $bora-small;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.15);

    @include breakpoint(tab) {
        min-height: 30rem;

    }
}

.homepageContact {
    width: 100vw;

    &-image {
        position: relative;



        h2 {
            position: absolute;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $dark-coco;
            text-align: center;
            padding: 2.4rem;
            background-color: $green-100;


        }
    }

    &-content {
        padding: 5vw;
        display: flex;
        justify-content: space-between;

        p {
            width: 70%;
        }

        a {
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
}